<footer class="fixed-bottom p-3 theme-dark">
  <div class="row">
    <div class="col text-center">
      <a href="/impressum" class="text-light">Impressum</a> |
      <a href="/dsgvo" class="text-light">Datenschutz</a>
    </div>

    <div class="col text-center">
      <a href="{{ site.social.facebook.link }}" title="{{ site.social.facebook.name }}" class="badge badge-primary p-2" style="background: #4267B2">
        <i class="fab fa-facebook-f fa-2x wow bounceIn" data-wow-delay=".1s"></i>
      </a>
      <a href="{{ site.social.twitter.link }}" title="{{ site.social.twitter.name }}" class="badge badge-primary p-2" style="background: #1DA1F2">
        <i class="fab fa-twitter fa-2x wow bounceIn" data-wow-delay=".1s"></i>
      </a>
      <a href="{{ site.social.email.link }}" title="{{ site.social.email.name }}" class="badge badge-light p-2">
        <i class="far fa-envelope fa-2x wow bounceIn" data-wow-delay=".1s"></i>
      </a>
    </div>
  </div>
</footer>
