<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light theme-primary-text">
  <b>DKP Cottbus</b>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      {% for item in site.data.main.navigation %}
      {% if item.subitems %}
      <li class="nav-item dropdown">
        <a href="{{ item.url | default: '#' }}" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">{{item.title}}</a>
        <div class="dropdown-menu">
          {% for sub in item.subitems %}
          <a href="{{ sub.url }}" class="dropdown-item">{{ sub.title }}</a>
          {% endfor %}
        </div>
      </li>
      {% else %}
      <li class="nav-item">
        <a href="{{ item.url }}" class="nav-link">{{item.title}}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
